<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- Только самые необходимые редиректы -->
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.33.0" newVersion="8.0.33.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.5.13.3" newVersion="5.5.13.3" />
			</dependentAssembly>
			<!-- Если используете Newtonsoft.Json -->
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<!-- Строка подключения к БД -->
	<connectionStrings>
		<add name="SchoolPlannerDB"
			 connectionString="Server=127.0.0.1;port=3306;Database=schoolplanner;Uid=root;Pwd=root;Charset=utf8;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>